/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

body {
	background-color: #000;
	font-family: 'Gotu', sans-serif;
	line-height: 40px;
	font-weight: 400;
	color: #e31010;
}

.profile {
	max-width: 700px;
	margin: 0 auto;
}

h1 {
	font-variant: small-caps;
	font-size: 40px;
	text-decoration: underline;
	margin: 0 auto;
	text-align: center;
	line-height: 40px;
}

#my-work {
	margin-bottom: 5%;
}

h3 {
	text-decoration: underline;
	text-align: center;
}

#hometown-pic {
	text-align: center;
}

h4 {
	font-style: italic;
	font-size: 20px;
	text-decoration: underline;
	line-height: 20px;
}

#favorites {
	text-align: center;
	text-decoration: none;
}

p {
	font-weight: bold;
	font-size: 18px;
	clear: right;
	padding: 20px;
	line-height: 25px;
	text-align: center;
	margin: 0 auto;

}

a {
	color: #157cd1;
}

a:visited {
	/* Visited Link */
	color: #a61fcc;
}

a:hover, a:focus {
	/* No underline when hovering */
	text-decoration: none;
}

a:active {
	/* Selected Link */
	color: #e31010;
}

button {
	/* overwrites browser defaults and resets the border */
	border: none;
	display: inline-block;
	/* takes the font from the outer container */
	font-family: inherit;
	background-color: #157cd1;
	font-size: 16px;
	color: #fff;
	text-decoration: none;
	padding: 10px;
	border-radius: 3px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.3);
	-webkit-transition: 0.2s opacity;
	-o-transition: 0.2s opacity;
	transition: 0.2s opacity;
}

.button {
	/* overwrites browser defaults and resets the border */
	border: none;
	display: inline-block;
	/* takes the font from the outer container */
	font-family: inherit;
	background-color: #157cd1;
	font-size: 16px;
	color: #fff;
	text-decoration: none;
	padding: 10px;
	border-radius: 3px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.3);
	-webkit-transition: 0.2s opacity;
	-o-transition: 0.2s opacity;
	transition: 0.2s opacity;
}

button:hover, button:focus, .button:hover, .button:focus, .navigation-list__item {
	/* lets the mouse appear as a hand when hovering over the button */
	cursor: pointer;
	/* reduces the opacity of the button to 80% */
	opacity: 0.8;
}

#contact-content {
	text-align: center;
}

.profile {
	text-align: center;
}

.navigation-list__item {
	font-weight: bold;
	font-size: 18px;
}

.button {
	display: inline-block;
	margin: 30px 0px 30px 0px;
	text-align: center;
}

.navigation-list, #my-interests {
	list-style-type: none;
}

#my-interests {
	text-align: center;
	margin: 0 auto;
	padding: 0px;
}

.navigation-list li {
	display: inline-block;
	margin-left: 15px;
}

.navigation-list__item--active {
	text-decoration: none;
}

.profile__portrait {
	float: left;
	width: 250px;
	height:200px;
	margin-right: 40px;
	border-radius: 50%;
	border: 5px solid #157cd1;
}

.page-footer {
	clear: both;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	text-align: center;
	position: static;
	margin-top: 160px;
	border-top: 3px groove #157cd1;
}

.page-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	padding: 20px;
	margin: 0 auto;
	margin-bottom: 100px;
	background-color: #575654;
	border-bottom: 3px groove #157cd1;
}

.page-header__item {
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 200px;
	        flex: 0 1 200px;
}

.page-header__item:last-child {
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	text-align: right;
}

/* Grid Fallback */
.grid__item {
	display: inline-block;
	width: 33%;
}

/* Styling CSS grid */

.grid {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 5% 1fr;
	grid-template-columns: 1fr 1fr;
	grid-gap: 5%;
}

.grid__item {
	background-color: #c7c7c7;
	width: 75%;
	text-align: center;
	padding: 10px;
	margin: 0 auto;
	border: 3px groove #e31010;
	border-radius: 10px;
}

.grid__item:last-child {
	-ms-grid-column: 2;
	grid-column: 2 / 2;
	-ms-grid-row: 1;
	-ms-grid-row-span: 1;
	grid-row: 1 / 2;
}

.app-img {
	width: 100%;
}

#main-logo {
	border: 1px groove #e31010;
	padding: 10px 5px 5px 5px;
	margin-top: 1px;
	border-radius: 35%;
	width: 125px;
	height: 50px;	
}

#experience {
	margin-top: 200px;
	margin: 0 auto;
	text-align: center;
}

.hometown_pic {
	display: inline-block;
	width: 35%;
	height: auto;
	margin: 0 auto;
	border: 2px ridge #157cd1;
	text-align: center;
}

@-webkit-keyframes color-change {
	0% {
		fill: #000;
	}
	25% {
		fill: #f57f25;
	}
	50% {
		fill: #157cd1;
	}
	75% {
		fill: #ff490d;
	}
	100% {
		fill: #000;
	}
}

@keyframes color-change {
	0% {
		fill: #000;
	}
	25% {
		fill: #f57f25;
	}
	50% {
		fill: #157cd1;
	}
	75% {
		fill: #ff490d;
	}
	100% {
		fill: #000;
	}
}

 .st2, .st3 {
	-webkit-animation: 5s color-change infinite linear;
	        animation: 5s color-change infinite linear;
}

@media all and (max-width: 750px) {
	.grid {
		grid-gap: 10px;
	}
	.grid__item:last-child {
		grid-column: auto / auto;
		grid-row: auto / auto;
	}
	h1 {
		font-size: 22px;
	}
}

@media all and (min-width: 500px) and (max-width: 750px) {
	.grid {
		-ms-grid-columns: 1fr 10px 1fr;
		grid-template-columns: 1fr 1fr;
	}
}

@media all and (max-width: 500px) {
	.grid {
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
	}
}